.sp-efficient {
    padding: 40px 0;
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-color: #F9F1F1;
    position: relative;
    overflow: hidden;

    &__left-cell {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__right-cell {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__outer {
        display: flex;
        align-items: center;
        margin: 0 -16px;
        justify-content: space-between;
        z-index: 2;
        position: relative;
    }

    &__left {
        width: calc(50% - 32px);
        margin: 0 16px;
    }

    &__right {
        width: calc(50% - 32px);
        margin: 0 16px;
    }

    &__out {
        width: 80%;
        display: flex;
        .sp-button {
            width: 50%;
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@include tablet-pro {
    .sp-efficient {
        &__out {
            flex-direction: column;
            .sp-button {
                width: 100%;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include mobile-tablet  {
    .sp-efficient {
        &__out {
            flex-direction: column;
            .sp-button {
                width: 100%;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include mobile {
    .sp-efficient{
        &__outer {
            flex-direction: column;
        }
        &__left {
            width: calc(100% - 32px);
            margin-bottom: 32px;
        }
        &__right {
            width: calc(100% - 32px);
        }
        &__left-cell,&__right-cell {
            display: none;
        }
        &__out {
            width: 100%;
            align-items: center;
            .sp-button {
                width: 70%;
                margin: 0;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .sp-title {
            p,h2 {
                text-align: center;
            }
        }
    }
}

@keyframes shrink {
    0% {
      background-size: 110% 110%;
    }
    100% {
      background-size: 100% 100%;
    }
  }