.sp-input {
    input, textarea {
        width: 100%;
        border: 1px solid var(--clr-white);
        font-size: 16px;
        color: var(--clr-white);
        background-color: transparent;
        border-radius: 4px;
        padding: $spacer-2;
    }

    textarea {
        height: 250px;
    }
}